// matjarbot Forms

.sb-form {
  padding: 7px 10px;
  font-size: 13px;
  border: 1px solid #f1f1f1;
  box-shadow: 2px 3px 9px transparent;
  transition: all 0.3s;
  width: 100%;
  border-radius: 6px;
  &::placeholder {
    transition: all 0.3s;
    color: #ddd;
  }
  &:focus {
    transition: all 0.3s;
    outline: none;
    border: 1px solid $primary;
    box-shadow: 2px 3px 9px rgba(0, 0, 0, 0.052);
    &::placeholder {
      transition: all 0.3s;
      color: #ccc;
    }
  }
}
